extends layout

block content
	div(data-role="content")
		h1= apps.platform
		div(data-role="collapsible-set", data-theme="b", data-content-theme="b")
			each app in apps.apps
				div(data-role="collapsible")
					h2= app.name
					p= app.description
					p
						if apps.platform == 'Android'
							a(href="#{app.link}", data-rel="external") Play Store
						else if apps.platform == 'iOS'
							a(href="#{app.link}", data-rel="external") iTunes Store
						br
						| Versie: #{app.version}

