!!! 5
html(lang="nl")
	head
	block head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(type="image/png", href="/images/favicon.png", rel="icon")
		link(rel="stylesheet", href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="http://code.jquery.com/jquery-1.7.2.min.js")
		script(src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js")
	body
		div(data-role="page", data-theme="e")
			div(data-role="header")
				h1= title
				a(href="/", data-icon="home", data-iconpos="notext", data-transition="flip") Home
			block content
			div.footer(data-role="footer", data-theme="e")
				p= "© 2012 ANWB - "
					a(href="http://www.anwb.nl", data-rel="external") Desktop site
					span= " - "
					a(href="/contact") Contact
					span= " - "
					a(href="/privacy") Privacy
