!!! 5
html(lang="nl")
	head
	block head
		title= title
		meta(name="HandheldFriendly", content="True")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- For third generation iPad Retina Display.
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/images/touch/apple-touch-icon-144x144-precomposed.png")
		//- For iPhone 4 with high-resolution Retina display.
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/images/touch/apple-touch-icon-114x114-precomposed.png")
		//- For first-generation iPad.
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/images/touch/apple-touch-icon-72x72-precomposed.png")
		//- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices.
		link(rel="apple-touch-icon-precomposed", href="/images/touch/apple-touch-icon-57x57-precomposed.png")

		link(type="image/png", href="/images/favicon.png", rel="icon")
		link(rel="stylesheet", href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="http://code.jquery.com/jquery-1.7.2.min.js")
		script(src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js")
	body
		div(data-role="page", data-theme="e", data-apptags=apptags)
			div(data-role="header")
				h1= title
				a(href="/", data-icon="home", data-iconpos="notext", data-transition="flip") Home
			block content
			include relatedApps
			div.footer(data-role="footer", data-theme="e")
				p= "© 2012 ANWB - "
					a(href="http://www.anwb.nl", data-rel="external") Desktop site
					span= " - "
					a(href="/contact") Contact
					span= " - "
					a(href="/privacy") Privacy
		div#scripts
			script(src="/javascripts/script.js")
