div(data-role="content", class="hidden relatedApps")
	h1 Gerelateerde apps
	div(data-role="collapsible-set", data-theme="b", data-content-theme="b")
		each app in apps.apps
			div(data-role="collapsible", class="relatedApp hidden", data-apptags="#{app.tags}")
				h2= app.name + ' ( ' + app.platform + ' )'
				p= app.description
				p
					a(href="#{app.link}", data-rel="external") Download
					br
					| Versie: #{app.version}