extends layout

block content
	div(data-role="content")
		div.left
			h2= title
			- var timestamp =  new Date().toTimeString()
			- timestamp = timestamp.split(':', 2)
			p Laatste update:
				strong= ' ' + timestamp[0] + ':' + timestamp[1]
			ul(data-role="listview", data-inset="true", data-theme="b")
				li Aantal km file
					span.ui-li-count= verkeer.feed.filelengte
				li Aantal meldingen
					span.ui-li-count= verkeer.feed.aantalmeldingen
		div.right
			h2 Files
			ul(data-role="listview", data-inset="true", data-filter="true", data-filter-placeholder="Filter lijst...", data-theme="b")
				each trafficjam in verkeer.trafficjam
					li
						h4= trafficjam.road
							p= trafficjam.description
							p.ui-li-aside
								strong #{trafficjam.km}
								|  file
